{% extends "base_ingr.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Clientes x Productos{% endblock %}

{% block page_content %}
<div class="page-header">    
    {{ wtf.quick_form(form) }}
    <p1>{{ producto }}</p1>
    <u1>
    {% for x in productos %}
    <li><a href="/clientes_prod/{{ x }}">{{ x }}</a></li>
    {% endfor %}
    </u1>
</div>
<style>
table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table>
    <tr>
        <th>CODIGO</th>
        <th>PRODUCTO</th>
        <th>CLIENTE</th>
        <th>CANTIDAD</th>
        <th>PRECIO</th>
    </tr>
        {% for x in listar %}
    <tr>
        <td>{{ x.codigo }}</td>
        <td>{{ x.producto }}</td>
        <td>{{ x.cliente }}</td>
        <td>{{ x.cantidad }}</td>
        <td>{{ x.precio }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}

