{% extends "base_ingr.html" %}

{% block title %}Mejores Clientes{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Mejores Clientes</h1>
</div>



<style>
table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table>
    <tr>
        <th>CLIENTE</th>
        <th>VALOR</th>

    </tr>
        {% for result in produc %}
            <tr>
                <td>{{ result[1].cliente }}</td>
                <td>{{ result[0] }}</td>
            </tr>
    {% endfor %}

</table>


{% endblock %}

